# outputs & caches
dist/
.angular/
.tmp/
.cache/
.vite/
.parcel-cache/

# deps
node_modules/

# IDE/OS junk
.vscode/
.idea/
.DS_Store
Thumbs.db

# logs & coverage
npm-debug.log*
yarn-error.log*
*.log
coverage/
*.lcov

# archives
*.zip
*.7z
*.tar
*.tar.gz

# env/locals
.env*
